@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "Avenir";
    src: url(fonts/Avenir-Heavy.ttf);
    font-style: normal;
    font-weight: 900;
}
/*
font-family: "Averia Libre",
system-ui;
 font-family: "Montserrat",
 sans-serif;
  font-family: "Noto Sans",
  sans-serif;

*/
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 1;
}   
 
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;    
}

/*  HEADER  */

.header {
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__login {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: underline;
}



/*  WELCOME   */

.welcome {
   padding-bottom: 50px;
   
}

.welcome__container {
   position: relative;
}

.welcome__container::after {
    content: '';
    width: 660px;
    height: 790px;

    position: absolute;
    right: -170px;
    top: -240px;
    z-index: -1;

    transform: rotate(-105deg);

    background-image: url(../img/bg-welcome.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.welcome__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 700px;
}



.welcome__title {
    margin-bottom: 130px;
    font-size: 64px;
    line-height: 1.09;
}
.welcome__text {
    position: relative;
    padding-left: 130px;
    width: 380px;
    font-size: 20px;  
    
}

.welcome__text::before {
    content: '';

    width: 125px;
    height: 125px;

    position: absolute;
    left: 20px;
    bottom: 50%;
    
    
    background-color: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
}


.welcome__text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 55px;


    width: 130px;
    height: 4px;
    background-color: #fff;

    transform: rotate(120deg);
}


.welcome__img {
    width: 600px;
    position: absolute;
    right: -30px;
    top: -140px;
}

.welcome__sta {
    padding-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.cta__links {
    display: flex;
    gap: 30px;
}
.cta__link {}
.cta__img {}